body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.popover {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body div.form {
    border: 1px solid #eeeeee;
    padding: 0;
    margin: 0;
    margin: auto;
    background-color: #eeeeee;
}
div.form div , div.text{
    max-width: 820px;
    margin: auto;
}
div.text {
    font-size: larger;
    position: relative;
    padding: 0 0.5em;
}
input[type='number']{
    font-size: 110%;
    border: 2px solid #c0c0c0;
    width: 4em;
    padding: 0.4em;
    padding-right: 0;

}
button {
    background-color: #dddddd;
    color: #222222;
    border-radius: 3px;
    border: 2px solid #c0c0c0;
    padding: 0.6em;
    margin: 0.4em;
}
input {
	background-color: #dddddd;
	color: #222222;
}

input[type='submit'] {
    margin-left: 4.6rem;
    border: 2px solid #c0c0c0;
    padding: 0.6em;
    font-size: 120%;
    background-color: #dddddd;
    color: #222222;
    border-radius: 3px;
}
select {
    font-size: 110%;
    border: 2px solid #c0c0c0;
    background-color: #dddddd;
    color: #222222;
}
label {
    display: inline-block;
    width: 4rem;
    text-align: right;
    padding-right: 0.5em;
}
button#copybutton {
    margin-top: 0.5em;
    float: right;
}
@media only screen and (min-width: 960px) {
    button#copybutton {
        position: absolute;
        left: -72px;
        top: 0.5em;
        margin-bottom: -80px;
    }
}

.hide {
    position: absolute; right: 0; bottom: 0; width:0;height:0
}


.flag-icon {
    opacity: 0.8;
    width: 1.2em;
    margin-right: 0.3em;
}

td.number{
    text-align: right;
    padding-right: 1em;
}
th.number {
    text-align: right;
    padding-right: 1em;
}

/* dark theme fixes */
.badge {
    color: #222;
    font-size: 70%;
    text-transform: uppercase;
}
.table-success, .table-info, .table-warning, .table-danger {
    color: #fff;
}
.table-success, .table-success>th, .table-success>td {
    background-color: #005947;
}
pre {
    color: #fff;
}
.opa-40 {
    opacity: 0.4;
}
.opa-60 {
    opacity: 0.6;
}

.alert { color: #fff; }
.alert-success{
    background-color: #007356;
    border-color: #003c2c;
}
.alert-danger {
    background-color: #9c3227;
    border-color: #862217;
}
.alert-info {
    background-color: #206b9c;
    border-color: #175a86;
}
.alert-warning {
    background-color: #ab6e0f;
    border-color: #885709;
}
